<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">
    Designed and Developed by Abhijeet Lokhande.
  </p></ngx-spinner
>

<div class="row">
  <div class="col">
    <app-header></app-header>
  </div>
</div>

<div class="row mt-2">
  <div class="col-4">
    <div class="form-group" style="margin-left: 20px">
      <label>Select Movie:</label>
      <select class="form-control" [(ngModel)]="selectedMovie">
        <option [ngValue]="null" disabled>Select</option>
        <option *ngFor="let m of movieNames" [ngValue]="m">{{ m }}</option>
      </select>
    </div>
    <br />
    <div class="form-group" style="margin-left: 20px">
      <label>Select Rating(1 to 5):</label>
      <select class="form-control" [(ngModel)]="userRating">
        <option [ngValue]="null" disabled>Select</option>
        <option [ngValue]="1">1</option>
        <option [ngValue]="2">2</option>
        <option [ngValue]="3">3</option>
        <option [ngValue]="4">4</option>
        <option [ngValue]="5">5</option>
      </select>
    </div>
    <br />
    <button
      class="btn btn-outline-primary"
      style="margin-left: 20px"
      (click)="onGo()"
    >
      Go
    </button>
  </div>
  <div class="col">
    <h6>Recommendations</h6>
    <table class="table">
      <tr>
        <th>Movie Name</th>
      </tr>
      <tr *ngFor="let item of recommendations">
        <td>{{ item[0] }}</td>
      </tr>
    </table>
  </div>
</div>
